
# no extension on linux, .exe on windows
rogueserver*
!/rogueserver/*
!/rogueserver_test.go
/userdata/*
secret.key

# local testing
/.data/

# Jetbrains IDEs
/.idea/
*.iml
*.ipr
*.iws
.vscode/

/.vs
